{% extends "base.html" %}
{% block title%} Administration {% endblock %}
{% block body %}
	<h1>Bienvenu dans le tableau de bord {{name}}</h1>
	
		<section class="last_comments">
			<h2>Les derniers commentaires</h2>
			<ul> 
				<li> 
					listes des 5 derniers commentaires 
				</li>
			</ul>
		</section> 
		
		<section class="to_manage_comments">En attente de modération 
			<ul>
				<li> 
					5 derniers commentaires en attente de modération 
				</li>
			</ul>
			<a class="btn btn-primary"> Voir tout</a>
		</section>

		<section class="last_post"> 
			<ul> 
				<h2> Derniers articles </h2>
				<br/>
				{% for post in posts %} 
					<li>
						<h4>{{post.title}}</h4>
						<p> {{post.content}}</p>
						<a href="/posts/addnew?id={{post.id}}""> Voir </a> <a href="/admin/users/updatepost?id={{post.id}}">Modifier</a> <a href="/admin/users/deletepost?id={{post.id}}"> Supprimer</a>
					</li>
				{% endfor %}
			</ul>
		</section>
		<section>
			<a href="/admin/users/addpost" class="btn btn-primary"> Créer un nouveau post </a>
		</section>

	</ul>
{% endblock %}