{% extends "base.html" %}
{% block title%} Administration {% endblock %}
{% block style %}Admin{% endblock %}
{% block connexion %}
<li class="flexbox_item">
    <a href="/session/signout" class="flexbox_item">Deconnexion</span></a>
</li> 
{% endblock %}

{% block body %}

	
		<div class="row text-center">
			<h1>Bienvenu dans le tableau de bord {{name}}</h1>
			<section class="col-md-12 text-center">En attente de modération 
					{% for report in reports %} 
							<h4>{{report.author}}</h4>
							<p> {{report.comment}}</p>
							<a href="/admin/users/deletecomment?id={{report.id}}" class="btn btn-danger"> Supprimer
							</a> <a href="/admin/users/approvecomment?id={{report.id}}" class="btn btn-success"> Approuver </a>
					{% endfor %}
			</section>
		</div>

		<section class="last_post text-center"> 
				<h2> Mes articles  </h2>
				<br/>
				<a href="/admin/users/addpost" class="btn btn-primary"> Créer un nouveau post </a>
				<br/>
				<br/>
				<div class="row">
				{% for post in posts %} 
					<div class="col-md-3 article text-center">
						<h3>{{post.title}}</h3>
						<p> <small>n° de l'article : {{post.id}}</small>
						<p>{{post.content|slice (0,250) |raw}}...
						<br>
						<br>
						 <a href="/posts/addnew?id={{post.id}}" class="btn btn-primary"> Voir </a> <a href="/admin/users/updatepost?id={{post.id}}" class="btn btn-info">Modifier</a> <a href="/admin/users/deletepost?id={{post.id}}" class="btn btn-danger"> Supprimer</a></p>
						
					</div>
				{% endfor %}
				</div>
		</section>
		<br>

	</ul>
{% endblock %}