{% extends "base.html" %}
{% block title%}Posts{% endblock %}

{% block body %}
	<h1> Articles </h1>

	<ul>
		{% for post in posts %}
			<h1><a href="/posts/addnew?id={{post.id}}">{{post.title}} </a></h1>
			<p>{{post.content|slice (0,250) |raw}}...</p>
			<a href="/posts/addnew?id={{post.id}}" class="btn btn-primary">lire la suite </a>
		{% endfor %}
	</ul>
{% endblock %}