{% extends "base.html" %}
{% block title%}Posts{% endblock %}

{% block body %}
	<h1> Posts </h1>

	<ul>
		{% for post in posts %}
			<h1><a href="/posts/addnew?id={{post.id}}">{{post.title}} </a></h1>
			<p>{{post.content}}</p>
		{% endfor %}
	</ul>
		

{% endblock %}