{% extends "base.html" %}
{% block title%}{{post.title}}{% endblock %}

{% block body %}
	{% for page in post %}
		<h1> {{page.title}} </h1>
		<p>{{page.content}}</p>
	{% endfor %}

	{% for comment in comments %}
		<h3> {{comment.author}} </h3>
		<p>{{comment.comment}}</p>
	{% endfor %}
	<h2> Laissez un commentaire </h2>

	<form action='/posts/index' method="post" id="comment_form">
		<label> Nom : <br/><input type="text" name="name" placeholder="Mon nom"></label>
	</form>
	<label> Mon message : <br/><textarea rows="4" cols="50" form="comment_form"> </textarea> </label>
	<br/>
	<button type="submit" form="comment_form" value="Envoyer"> Envoyer</button>

{% endblock %}